
.profileinformation {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profiledescription {
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
}

.profileresume {
    margin-left: 1rem;
}