
.experiencejob {
    margin-top: 1rem;
    padding-left: 1rem;
    border: 2px solid darkslateblue;
    border-radius: 10px;
    text-align: left;
}

.experienceemployer {
    display: flex;
    flex-direction: row;
}

.experiencedate {
    display: flex;
    flex-direction: row;
}

.experiencedesc {
    margin-top: 1rem;
}