
.education {
    width: 100%;
    padding: 1rem;
}


.educationheader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.hr {
    margin-top: 10px;
    border: 1px solid #646cff;
}

.educationschools {
    padding-top: 1rem;
}