
.linkedin {
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 0.5rem;
}

.linkedinicon {
    width: 24px;
    margin-right: 0.3rem;
}