
.educationschool {
    margin-top: 1rem;
    padding: 1rem;
    border: 2px solid darkslateblue;
    border-radius: 10px;
    text-align: left;
}

.educationplace {
    display: flex;
    flex-direction: row;
}

.educationdate {
    display: flex;
    flex-direction: row;
}