
.about {
    width: 100%;
    padding: 1rem;
}

.aboutheader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.hr {
    margin-top: 10px;
    border: 1px solid #646cff;
}

.aboutme {
    padding-top: 1rem;
}

.aboutmedescription {
    text-align: left;
}