
.contact {
    width: 100%;
    padding: 1rem;
}

.contactheader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
}

.hr {
    margin-top: 10px;
    border: 1px solid #646cff;
}

.contactinfo {
    padding: 1rem;
}