
.educationlanguage {
    margin-top: 1rem;
    text-align: left;
}

.educationacademy {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}

.educationproficiency {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.3rem;
}

.educationcertification {
    display: flex;
    flex-direction: row;
    align-items: center;
}